attr==0.3.2
ConfigParser==6.0.1
cryptography==42.0.5
Cython==3.0.8
dcm2niix==1.0.20220715
dipy==1.8.0
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.2
Jinja2==3.1.2
jnius==1.1.0
keyring==24.3.1
lockfile==0.12.2
matplotlib==3.8.1
MedPy==0.4.0
nibabel==5.2.1
numpy==1.26.4
pandas==2.2.1
Pillow==10.0.1
Pillow==10.2.0
protobuf==4.25.3
pyOpenSSL==24.0.0
pywin32==306
railroad==0.5.0
scipy==1.12.0
SimpleITK==2.3.1
SimpleITK==2.3.1
SimpleITK_SimpleElastix==2.0.0rc2.dev908
Sphinx==7.2.6
surfa==0.6.0
tensorflow==2.15.0.post1
thread==0.1.3
timm==0.9.16
torch==2.1.2+cu121
tornado==6.4
trove_classifiers==2024.2.23
truststore==0.8.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
nnunetv2==2.2.1
